// fonts
$font-infini: "Infini", sans-serif
$font-squil: "Squil", sans-serif

$heading-font-family: $font-infini
$body-font-family: $font-squil


$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none