// colors
$color-accent: #C83E19 // terracotta
$color-text: #403738 // charcoal
$color-text-alt: #403738 // charcoal
$color-background: #D8CBC0 // sand
$color-background-alt: #EED9CA // seashell
$color-border: var(--color-text)
$color-selection: $color-background
$color-selection-background: $color-text
$link-color: var(--color-text)

// header
$header-background: var(--color-background)
$header-border-bottom-width: 1

// hero
$hero-color: var(--color-text)
$hero-background-color: var(--color-background)

// breadcrumb
$breadcrumb-color: $hero-color
$breadcrumb-color-active: $hero-color
$breadcrumb-icon-color: var(--color-text)

// footer
$footer-color: var(--color-text-alt)
$footer-background-color: var(--color-text)

// button
$btn-border-width: 1px
$btn-border-radius: 0

$btn-color: var(--color-text)
$btn-background: transparent
$btn-border: $btn-border-width solid var(--color-border)

$btn-hover-color: var(--color-background-alt)
$btn-hover-background: var(--color-accent)
$btn-hover-border: $btn-border-width solid var(--color-accent)

// block cta
$block-call-to-action-accent-background: var(--color-accent)
$block-call-to-action-accent-color: var(--color-background-alt)

$block-call-to-action-accent-button-background: transparent
$block-call-to-action-accent-button-border: var(--border-width) solid var(--color-background-alt)
$block-call-to-action-accent-button-color: var(--color-background-alt)

$block-call-to-action-accent-button-hover-background: var(--color-background-alt)
$block-call-to-action-accent-button-hover-border: $block-call-to-action-accent-button-border
$block-call-to-action-accent-button-hover-color: var(--color-accent)

// fonts
$font-infini: "Infini", sans-serif
$font-squil: "Squil", sans-serif

$heading-font-family: $font-infini
$body-font-family: $font-squil

// h1 = hero title
$h1-text-transform: uppercase

// h2 = block title
$h2-text-transform: uppercase

// h3 = card titles
$h3-text-transform: uppercase

// meta = header & footer links
$meta-font-family: $body-font-family
$meta-size-desktop: pxToRem(14)
$meta-size: pxToRem(12)
$meta-text-transform: uppercase

// button
$btn-font-family: $body-font-family
$btn-text-transform: uppercase