// colors
$color-accent: #8D9AC7
$color-text: #453531
$color-text-alt: #453531
$color-background: #D1BEAD
$color-background-alt: #DED0C4
$color-border: $color-text
$color-selection: $color-background
$color-selection-background: $color-text
$link-color: var(--color-text)

// fonts
$font-infini: "Infini", sans-serif
$font-squil: "Squil", sans-serif
$heading-font-family: $font-infini
$body-font-family: $font-squil

// h1 = hero title and subtitle
$h1-size-desktop: pxToRem(32)
$h1-size: pxToRem(24)
$h1-weight: normal
$h1-text-transform: uppercase

// h2 = title of a block
$h2-size-desktop: pxToRem(24) !default
$h2-size: pxToRem(16)
$h2-weight: normal
$h2-text-transform: uppercase

// h3 = card titles
$h3-font-family: $body-font-family
$h3-size-desktop: pxToRem(22)
$h3-size: pxToRem(18)
$h3-weight: normal
$h3-text-transform: uppercase

// h5 = sections title

// lead = description hero
$lead-font-family: $body-font-family
$lead-size-desktop: pxToRem(22)
$lead-hero-size-desktop: $lead-size-desktop
$lead-size: pxToRem(18)
$lead-weight: normal

// signature = definition titles
$signature-font-family: $body-font-family
$signature-weight: normal

// meta = header & footer links
$meta-font-family: $body-font-family
$meta-size-desktop: pxToRem(14)
$meta-size: pxToRem(12)
$meta-text-transform: uppercase

// button
$btn-font-family: $body-font-family
$btn-text-transform: uppercase

// header
$header-background: var(--color-background)
$header-hover-color: var(--color-accent)
$header-border-bottom-width: 1px
$header-logo-height: pxToRem(16)
$header-logo-height-desktop: pxToRem(24)

// hero
$hero-background-color: var(--color-background)

// breadcrumb
$breadcrumb-icon-color: var(--color-text)

// footer
$footer-color: var(--color-background-alt)
$footer-background-color: var(--color-text)

// borders
$border-width: 1px
$custom-border: var(--border-width) solid var(--color-border)

// button
$btn-border-width: 1px
$btn-border-radius: 0
$btn-padding: pxToRem(12) pxToRem(16)

$btn-color: var(--color-text)
$btn-background: transparent
$btn-border: $btn-border-width solid var(--color-border)

$btn-hover-color: var(--color-background-alt)
$btn-hover-background: var(--color-accent)
$btn-hover-border: $btn-border-width solid var(--color-accent)

// block cta
$block-call-to-action-accent-background: var(--color-accent)
$block-call-to-action-accent-color: var(--color-text)

$block-call-to-action-accent-button-background: transparent
$block-call-to-action-accent-button-border: var(--border-width) solid var(--color-text)
$block-call-to-action-accent-button-color: var(--color-text)

$block-call-to-action-accent-button-hover-background: var(--color-text)
$block-call-to-action-accent-button-hover-border: $block-call-to-action-accent-button-border
$block-call-to-action-accent-button-hover-color: var(--color-accent)
