header#document-header
    @include media-breakpoint-down(desktop)
        border-bottom: $custom-border
    .logo-text
        font-size: $header-logo-height !important
        @include media-breakpoint-up(desktop)
            font-size: $header-logo-height-desktop !important

    @include media-breakpoint-down(desktop)
        + .breadcrumb-container
            margin-top: 0

.menu
    .nav-level-2
        > li
            > a,
            > span
                @include meta

.breadcrumb-container
    border-top: $custom-border
    border-bottom: $custom-border

.block.pages
    @include in-page-without-sidebar
        .top
            .block-title
                width: 100%

.block-chapter
    &--alt_background
        border-top: $custom-border
        border-bottom: $custom-border
        @include media-breakpoint-up(desktop)
            display: block
            > *
                margin-left: auto
                margin-right: auto
                text-align: center
                width: columns(8)

    @include media-breakpoint-down(desktop)
        &--alt_background
            padding-top: 3rem
            padding-bottom: 3rem

.block-call_to_action
    border-top: $custom-border
    border-bottom: $custom-border
