header#document-header
    @include media-breakpoint-down(desktop)
        border-bottom: $custom-border
    .logo-text
        font-size: $header-logo-height !important
        @include media-breakpoint-up(desktop)
            font-size: $header-logo-height-desktop !important

    @include media-breakpoint-down(desktop)
        + .breadcrumb-container
            margin-top: 0

.menu
    .nav-level-2
        > li
            > a,
            > span
                @include meta

.breadcrumb-container
    border-top: $custom-border
    border-bottom: $custom-border

.block-chapter
    &--alt_background
        border-top: $custom-border
        border-bottom: $custom-border
        .chapter
            .text
                text-align: center

    @include media-breakpoint-down(desktop)
        &--alt_background
            padding-top: 3rem
            padding-bottom: 3rem

    @include in-page-without-sidebar
        &--alt_background
            padding-left: var(--grid-gutter-xxl)
            padding-right: var(--grid-gutter-xxl)
            .chapter
                .text
                    width: 100%

.block-call_to_action
    border-top: $custom-border
    border-bottom: $custom-border